<div class="home">
  <h1 id="logo"><img src="home/auth0_logo_final_blue_RGB.png" /></h1>
  <h2>Welcome {{auth.profile.nickname}}</h2>
  <button class="btn-md btn-warning" ng-click="logout()">Logout</button>
  &nbsp;
  <button class="btn-md btn-primary" ng-click="refreshUsers()">Refresh</button>
  &nbsp;
  <button class="btn-md btn-primary" ng-click="go('/create')">Create User</button>

  <table class="table table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Latest Login</th>
        <th>Connection</th>
        <th></th>
      </tr>
    </thead>
    <tbody ng-repeat="user in users">
      <tr>
        <td>{{ user.nickname }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.last_login }}</td>
        <td>{{ user.identities[0].connection }}</td>
        <td>
          <button class="btn-sm btn-success" ng-click="go('/update/' + user.user_id)">Edit</button>
          <br/>
          <button class="btn-sm btn-danger" ng-click="deleteUser(user)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
